.themeBrightPopupForm {
    background: #5d5d5d;
}
.themeBrightLibraryItself, .themeBrightLibrarySearchForm {
    background: #222222;
}
/*.themeBrightBody {
    background:#d8d8d8;
}*/

/* Guidelines */

.themeBrightGuidelinesContainer {
    background: #16202d !important;
}
